*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: .8;
    transition: .5s;
}
a:hover .fa-angles-right{
    transform: translateX(50%);
    transition: .5s;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background-color: #112c66;
}
ul li:hover ul.dropdown{
    display: block;
}
ul li:hover ul.dropdown li:hover a{
    color: rgb(242, 255, 0);
}
ul li:hover .fa-caret-down{
    transform: rotate(180deg);
    transition: .4s;
}
.header, .copyright{
    background-color: rgb(230, 230, 230);
}
@media screen and (max-width: 767px) {
    .more, .tag a,  .time, p{
        font-size: .8em;
    }
    h2{
        font-size: 1.4em;
    }
    h4{
        font-size: 1.2em;
    }
    h5{
        font-size: 1em;
    }
    ul li{
        display: block;
        position: relative;
        background: #22438c;
    }
    ul li a{
        display: block;
        padding: 16px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
    }
    ul li ul.dropdown li{
        display: block;
    }
    ul li ul.dropdown{
        width: 100%;
        background: #22438c;
        position: static;
        z-index: 999;
        display: none;
    }
    ul li a:hover{
        background-color: #112c66;
    }
    ul li:hover ul.dropdown{
        display: block;
    }
    .more a span{
        width: 100%;
        text-align: center;
    }
    .nav_toggle{
        position: relative;
        width: 32px;
        height: 32px;
    }
    .nav_burger, .nav_close{
        position: absolute;
        line-height: 32px;
        font-size: 1.25rem;
        cursor: pointer;
    }
    .nav_close{
        opacity: 0;
    }
    .nav_menu{
        position: absolute;
        left: 0;
        top: 2rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        opacity: 0;
    }
    .show_menu{
        opacity: 1;
    }
    .show_icon .nav_burger{
        opacity: 0;
    }
    .show_icon .nav_close{
        opacity: 1;
    }
}